<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- @@@@@@@@@@@@@@@@@@@ favicon @@@@@@@@@@@@@@@@@@@@ -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />

    <!-- @@@@@@@@@@@@@@@@@@@ boxicons @@@@@@@@@@@@@@@@@@@@ -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- @@@@@@@@@@@@@@@@@@@ swiperjs.com @@@@@@@@@@@@@@@@@@@@ -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />

    <!-- @@@@@@@@@@@@@@@@@@@ CSS @@@@@@@@@@@@@@@@@@@@ -->
    <link rel="stylesheet" href="/static/css/styles.css" />

    <!-- @@@@@@@@@@@@@@@@@@@ breakpoints CSS @@@@@@@@@@@@@@@@@@@@ -->
    <link rel="stylesheet" href="/static/css/breakpoints.css" />

    <title>Christmas Bingo</title>
  </head>
  <body>
    <header class="header" id="header">
        <div class="container">
          <nav class="nav">
            <a href="#" class="nav__logo">
              <img src="/static/img/logo.png" alt="" /> Christmas Bingo
            </a>
  
            <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="{{ url_for('index') }}" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                  <a href="{{ url_for('login') }}" class="nav__link">Login</a>
                </li>
                <li class="nav__item">
                  <a href="#about" class="nav__link">About</a>
                </li>
              </ul>
  
              <div class="nav__close" id="nav-close">
                <i class="bx bx-x"></i>
              </div>
  
              <img src="/static/img/nav-light.png" alt="" class="nav__corner" />
            </div>
  
            <div class="nav__toggle" id="nav-toggle">
              <i class="bx bx-menu-alt-right"></i>
            </div>
          </nav>
        </div>
      </header>
      <main>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </main>

    <!-- @@@@@@@@@@@@@@@@@@@ scroll up @@@@@@@@@@@@@@@@@@@@ -->
    <a href="#" class="scrollup" id="scrollup">
        <i class="bx bx-up-arrow-alt"></i>
      </a>
  
      <!-- @@@@@@@@@@@@@@@@@ swiperjs.com @@@@@@@@@@@@@@@@@@ -->
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  
      <!-- @@@@@@@@@@@@@@@@@ scrollrevealjs.org @@@@@@@@@@@@@@@@@@ -->
      <script src="https://unpkg.com/scrollreveal"></script>
  
      <!-- @@@@@@@@@@@@@@@@@@@ main JS @@@@@@@@@@@@@@@@@@@@ -->
      <script src="/static/js/main.js"></script>
    </body>
  </html>