{% extends "base.html" %}
    <!-- @@@@@@@@@@@@@@@@@@@ pre loader @@@@@@@@@@@@@@@@@@@@ -->
    {% block content %}
    <div class="preloader" id="preloader">
      <img src="/static/img/preloader.png" alt="" class="preloader__img" />
    </div>
    <main>
      <!-- @@@@@@@@@@@@@@@@@@@ home @@@@@@@@@@@@@@@@@@@@ -->
      <section class="home" id="home">
        <div class="container">
          <div class="home__container">
            <img src="/static/img/home.png" alt="" class="home__img" />

            <div class="home__data">
              <h1 class="home__title">
                Merry Christmas and <br />
                Happy New Year!
              </h1>
              <p class="home__description">
                It's the 1st December which can only mean one thing... it's Christmas Bingo time!
              </p>
              <a href="{{ url_for('register') }}" class="btn">Get Started</a>
            </div>
          </div>
        </div>
      </section>
    {% endblock %}

