{% extends "base.html" %}
      <!-- @@@@@@@@@@@@@@@@@@@ celebrate @@@@@@@@@@@@@@@@@@@@ -->
	  {% block content %}
      <section class="celebrate section" id="celebrate">
        <div class="container">
          <div class="celebrate__container">
            <div class="celebrate__data">
				
				<form action="" method="post" novalidate>
					{{ form.hidden_tag() }}
					<p>
						{{ form.username.label }}<br>
						{{ form.username(size=32) }}
						{% for error in form.username.errors %}
						<br>
						<span>[{{ error }}]</span>
						{% endfor %}

					</p>
					<p>
						{{ form.password.label }}<br>
						{{ form.password(size=32) }}
						{% for error in form.password.errors %}
						<br>
						<span>[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
					<p class="btn">{{ form.submit() }}</p>
				</form>
            </div>

            <img
              src="/static/img/celebrate.png"
              alt=""
              class="celebrate__img"
            />
          </div>
        </div>
      </section>
	  {% endblock %}